@{
    ViewData["Title"] = "Home Page";
}

    <ul>
        @foreach (Topic topic in Model.All)
        {
            <li>@topic.Title <a href="@topic.Url" title="@topic.Title">>> GOTO</a> 
                @foreach (TopicTags tag in topic.TopicTags)
                {
                    <span class="badge badge-primary">@tag.Tag.Name</span>
                }
            </li>
        }

    </ul>