bin
obj
.vs
/TopicalTagsApp/TopicalTags/TopicalTags.jfm
/TopicalTagsApp/TopicalTags/TopicalTags.dbmdl
/TopicalTagsApp/TopicalTags.DatabaseFirst.State/TopicalTags.DatabaseFirst.State.jfm
/TopicalTagsApp/TopicalTags/TopicalTags.DatabaseFirstState.sqlproj.user
/TopicalTagsApp/TopicalTags.DatabaseFirst.State/TopicalTags.DatabaseFirst.State.dbmdl
